html {
    height: 100%;
}

body {
    background-color: black;
    background-image: linear-gradient(black, darkslateblue);
}

h1 {
    color: lavender;
    font-family: monospace;
    font-size: 48;
}

canvas {
    background: black;
    display: block;
    margin: 0 auto;
}