html {
    background-color: black;
    font-family: monospace;
    color: mediumseagreen;
}

.image {
    outline-style: solid;
    outline-offset: 5px;
    outline-color: mediumseagreen;
}

h1 {
    font-size: xxx-large;
}

p {
    border: 1px solid;
}

#whatis {
    width: 75%;
}

/*
#whatis:hover {
    scale: 110%
}
*/